<h1>Práctica #3</h1>
<h3>Lista de Tipos de Pokemones - <%=@titulo_operacion%></h3>

<form action="<%=Constantes.base_url%>ulima/practica1/tipo_pokemon/guardar" method="post">
	<label>Nombre</label>
	<br>
	<input type="hidden" name="id" value="<%=@tipo_pokemon[:id]%>">
	<input type="text" name="nombre" value="<%=@tipo_pokemon[:nombre]%>">
	<input type="hidden" name="operacion" value="<%=@operacion%>">
	<br>
	<br>
	<input type="submit" value="Guadar Cambios">
</form>