<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>
    <%= csrf_meta_tags %>
    <!-- Inicio CSS -->
    <link rel="stylesheet" type="text/css" href="<%=Constantes.public_url%>bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="<%=Constantes.public_url%>bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="<%=Constantes.public_url%>bower_components/unify-pp/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="<%=Constantes.public_url%>css/login.css">
    <!-- Inicio Load_CSS-->
    <%= load_css %>
    <!-- Fin CSS-->
  </head>
  <body>
    <!-- Inicio yield-->
    <%= yield %>
    <!-- Fin yield-->
    <!-- Inicio JS -->
    <script src="<%=Constantes.public_url%>bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="<%=Constantes.public_url%>bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="<%=Constantes.public_url%>bower_components/underscore/underscore-min.js" type="text/javascript"></script>
    <script src="<%=Constantes.public_url%>bower_components/swp-plugins/assets/js/mootools-core.min.js" type="text/javascript"></script>
    <script src="<%=Constantes.public_url%>bower_components/swp-plugins/assets/js/mootools.min.js" type="text/javascript"></script>
    <script src="<%=Constantes.public_url%>bower_components/swp-plugins/assets/js/mootools-interfaces.min.js" type="text/javascript"></script>
    <script src="<%=Constantes.public_url%>bower_components/unify-pp/js/app.js" type="text/javascript"></script>
    <!-- Inicio Load_JS-->
    <%= load_js %>
    <!-- Fin JS-->
  </body>
</html>